body {
    background-color: rgb(172, 132, 210);
    color: whitesmoke;
    text-align: center;
    padding: 100px;
    line-height: 2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
}